services:
  next:
    container_name: next
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - db
    # --- CONFIGURATION VOLUMES POUR LE HOT RELOAD ---
    volumes:
      - .:/app              # Synchronise ton code local avec le container
      - /app/node_modules   # Préserve les modules installés dans l'image Linux
      - /app/.next          # Évite les conflits de cache de build
    # -----------------------------------------------
    environment:
      DATABASE_URL: postgresql://user:password@db:5432/nestjs?schema=public
      API_POLYGON_KEY: ${API_POLYGON_KEY}
      NODE_ENV: development # Définit l'environnement en mode développement
    env_file:
      - .env
    networks:
      - app-network
    # On utilise npm run dev pour activer la surveillance des fichiers (watch mode)
    command: npm run dev 

  studio:
    container_name: studio
    build:
      context: .
    ports:
      - "5555:5555"
    depends_on:
      - db
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      DATABASE_URL: postgresql://user:password@db:5432/nestjs?schema=public
    networks:
      - app-network
    entrypoint: ["sh", "/app/scripts/startStudio.sh"]

  db:
    image: postgres:12
    container_name: db
    restart: always
    ports:
      - "5435:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: nestjs
    volumes:
      - db:/var/lib/postgresql/data
    networks:
      - app-network

volumes:
  db:
    name: nest-db

networks:
  app-network:
    driver: bridge