services:
  next:
    container_name: next
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - db
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    env_file:
      - .env
    networks:
      - app-network
    command: npm run dev

  studio:
    container_name: studio
    build:
      context: .
    ports:
      - "5555:5555"
    depends_on:
      - db
    volumes:
      - .:/app
      - /app/node_modules
    env_file:
      - .env
    networks:
      - app-network
    entrypoint: ["sh", "/app/scripts/startStudio.sh"]

  db:
    image: postgres:12
    container_name: db
    restart: always
    ports:
      - "5435:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - db:/var/lib/postgresql/data
    networks:
      - app-network

volumes:
  db:
    name: nest-db

networks:
  app-network:
    driver: bridge