.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 0; 
  background-color: #ffffff; 
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}